<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<!-- `mount -F -t ext4 ...` -->
		<key>FSShortName</key>
		<string>ext4</string>
		<key>FSSupportsBlockResources</key>
		<true/>
		<key>FSSupportsKernelOffloadedIO</key>
		<false/>
		<key>FSSupportsPathURLs</key>
		<false/>
		<key>FSSupportsGenericURLResources</key>
		<false/>
		<key>FSSupportsServerURLs</key>
		<false/>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<false/>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>o:r</string>
		</dict>
		<key>FSPersonalities</key>
		<dict>
			<key>ext2</key>
			<dict>
				<key>FSName</key>
				<string>ext2</string>
				<key>FSSubType</key>
				<integer>0</integer>
				<key>FSfileObjectsAreCaseSensitive</key>
				<true/>
			</dict>
			<key>ext3</key>
			<dict>
				<key>FSName</key>
				<string>ext3</string>
				<key>FSSubType</key>
				<integer>1</integer>
				<key>FSfileObjectsAreCaseSensitive</key>
				<true/>
			</dict>
			<key>ext4</key>
			<dict>
				<key>FSName</key>
				<string>ext4</string>
				<key>FSSubType</key>
				<integer>2</integer>
				<key>FSfileObjectsAreCaseSensitive</key>
				<true/>
			</dict>
		</dict>
		<key>FSMediaTypes</key>
		<dict>
			<!-- GPT: Linux filesystem data -->
			<key>0FC63DAF-8483-4772-8E79-3D69D8477DE4</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>0FC63DAF-8483-4772-8E79-3D69D8477DE4</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<!-- GPT: Linux /home -->
			<key>933AC7E1-2EB4-4F13-B844-0E14E2AEF915</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>933AC7E1-2EB4-4F13-B844-0E14E2AEF915</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<!-- GPT: Linux /srv -->
			<key>3B8F8425-20E0-4F3B-907F-1A25A76F98E8</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>3B8F8425-20E0-4F3B-907F-1A25A76F98E8</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<!-- GPT: Linux root (x86-64) -->
			<key>4F68BCE3-E8CD-4DB1-96E7-FBCAF984B709</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>4F68BCE3-E8CD-4DB1-96E7-FBCAF984B709</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<!-- GPT: Linux root (ARM64) -->
			<key>B921B045-1DF0-41C3-AF44-4C6F280D3FAE</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>B921B045-1DF0-41C3-AF44-4C6F280D3FAE</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<!-- GPT: Microsoft basic data (sometimes used for Linux data) -->
			<key>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>EBD0A0A2-B9E5-4433-87C0-68B6B72699C7</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<!-- MBR partition type 0x83 -->
			<key>Linux</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Content Hint</key>
					<string>Linux</string>
					<key>Leaf</key>
					<true/>
				</dict>
			</dict>
			<!-- whole disk without a partition table -->
			<key>Whole</key>
			<dict>
				<key>FSMediaProperties</key>
				<dict>
					<key>Leaf</key>
					<true/>
					<key>Whole</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
